<footer>
    <div class="row bg-primary row d-flex flex-row flex-wrap align-items-center footer-info text-center py-5">
        <div class="col-12 col-md-4 col-lg-2">
            <h5 class="my-3">Language</h5>
            <ul class="d-flex flex-row flex-wrap justify-content-evenly align-items-center mx-3 px-0 my-3">
                <li><a href="{{ path('app_index') }}" class="footer-link my-5"><img src="{{asset('build/img/logo-pays/france.png')}}" alt="Flag french" width="50" height="50" ></a></li>
                <li><a href="#" class="footer-link my-5"><img src="{{asset('build/img/logo-pays/etats-unis.png')}}" alt="Flag USA" width="50" height="50" ></a></li>
                <li><a href="#" class="footer-link my-5"><img src="{{asset('build/img/logo-pays/spain.png')}}" alt="Flag SPAIN" width="50" height="50" ></a></li>
            </ul>
        </div>
        <div class="col-12 col-md-4 col-lg-8">
            <h3 class="m-5">Contacter nous</h3>
        </div>
        <div class="col-12 col-md-4 col-lg-2"> 
            <h5 class="my-3">Nos reseaux</h5>
            <ul class="d-flex flex-row flex-wrap justify-content-evenly align-items-center mx-3 px-0 my-3">
                <li><a href="https://fr-fr.facebook.com/" target="_blank" class="footer-link my-5"><img src="{{asset('build/img/logo-resaux/facebook.png')}}" alt="Logo Facebook" width="50" height="50" ></a></li>
                <li><a href="https://twitter.com/" target="_blank" class="footer-link my-5"><img src="{{asset('build/img/logo-resaux/twitter.png')}}" alt="Logo X" width="50" height="50" ></a></li>
                <li><a href="https://www.instagram.com/" target="_blank" class="footer-link my-5"><img src="{{asset('build/img/logo-resaux/instagram.png')}}" alt="Logo Instagram" width="50" height="50" ></a></li>
            </ul>   
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center m-5 text-center">
        <div class="col-12 col-md-12">
            <p>@ 2023 Donkey Serie tous droit réservés</p>
        </div>
    </div>
</footer>