{% extends 'base.html.twig' %}

{% block title %}{{page_title}} Donkey Series{% endblock %}

{% block body %}


<div class="container-fluid">
    <h1>{{category.name}}</h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} </h2>
            <p> Id : {{ program.id}}</p>
            <p>{{ program.summary }}</p>
            <a href="{{ path("app_program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_category_shows') }}">
        Retour à la liste des Categories
    </a>
</div>
{% endblock %}