{% extends 'base.html.twig' %}

{% block title %}{{page_title}} Donkey Series{% endblock %}

{% block body %}

<div class="container-fluid mx-0 mx-md-auto my-5">
    <div class="row mx-0 mx-md-auto my-5">
        <div class="col-12">
            <h1 class="text-center pt-5 mt-5">{{ page_title }}</h1>
        </div>
    </div>
    <div class="row mx-0 mx-md-auto my-5">
        <div>
            <h2 class="text-center my-5">Synopsis</h2>
            <p>{{ season.synopsis }}</p>
        </div>
        <div>
            <div class="row">
                <div class="col-12 text-center my-5">
                    <h2>Épisodes</h2>
                </div>
            </div>
            <div class="row">
                <div class=" col-12 col-md-8 col-lg-6 mx-auto">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Titre</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for episode in episodes %}
                                <tr>
                                    <td>{{ episode.number }}</td>
                                    <td><a href="{{path('app_program_show_season_episode', {'program_slug': program.slug, 'season_slug': season.slug, 'episode_slug':episode.slug })}}" class="link-saison">{{episode.title}}</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">Aucun épisode trouvé</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <a href="{{ path('app_program_show', {'program_slug': program.slug} ) }}" class="btn btn-card-home"> Retour à la liste des saisons de {{ program.title }}</a>
        </div>
    </div>
    
</div>
{% endblock %}
