{% extends 'base.html.twig' %}

{% block title %}{{page_title}} Donkey episodes{% endblock %}

{% block body %}


<div class="container-fluid mx-0 mx-md-auto my-5">
    <div class="row mx-0 mx-md-auto my-5">
        <div class="col-12">
            <h1 class="text-center pt-5 mt-5">{{ page_title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto my-5">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Program</th>
                    <th>Season</th>
                    <th>Episode</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{program.title}}</td>
                        <td>Saison {{ season.number }}</td>
                        <td>{{episode.number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-md-8 col-lg-6 mx-auto text-center mb-5">
            <h2 class="my-4">{{episode.title}}</h2>
            <h3>Synopsis</h3>
            <p class="my-4">{{episode.synopsis}}</p>
        </div>
    <div class="row d-flex justify-content-evenly text-center mx-auto">
        <div class="col-12 col-md-6 my-3 mx-auto">
            <a href="{{ path('app_program_show_season', {'program_slug': program.slug, 'season_slug': season.slug}) }}" class="btn btn-card-home"> Retour à la liste des Episode de la saison {{ season.number }} de {{ program.title }}</a>
        </div>
        <div class="col-12 col-md-6 my-3 mx-auto">
            <a href="{{ path('app_program_show', {'program_slug': program.slug} ) }}" class="btn btn-card-home"> Retour à la liste des saisons de {{ program.title }}</a>
        </div>
    </div>
</div>
{% endblock %}