{% extends 'base.html.twig' %}

{% block title %}{{page_title}} Donkey Series{% endblock %}

{% block body %}


<div class="container-fluid mx-0 mx-md-auto my-5">
    <div class="row mx-0 mx-md-auto my-5">
        <div class="col-12">
            <h1 class="text-center py-5 my-5">{{ program.title }}</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-around mx-0 mx-md-auto flex-row flex-wrap">
        <div class="col-12 col-md-4 col-lg-4 mx-0 mx-md-auto">
            <figure class="figure">
                <img class="figure-img img-fluid rounded-start" src="{{program.poster}}" alt="{{ program.title }} poster">
            </figure>
        </div>
        <div class="col-12 col-md-8 col-lg-6 mx-0 mx-md-auto">
            <div>
                <h2>Synopsis</h2>
                <p class="text-start text-break">{{ program.summary }}</p>
            </div>
            <div>
                <h2>Catégorie</h2>
                <p>{{ program.category.name }}</p>
            </div>
            <div>
                <h2>Saisons</h2>
                {% for season in seasons%}
                    <ul>
                        <li>
                            <a href="{{ path('app_program_show_season', {'program_slug': program.slug, 'season_slug': season.slug}) }}" class="link-saison">
                                Saison {{ season.number }}
                            </a>
                            Nombre d'épisode : {{ season.episodes.count }} 
                        </li>
                    </ul>
                {% else %}
                    <p>Aucune saison n'est disponible pour le moment</p>
                {% endfor %}
            </div>
            <div>
                <h2>Actor</h2>
                {% for actor in program.actors %}
                    <ul>
                        <li><a href="{{ path('app_actor_show', {'actor_slug': actor.slug}) }}" class="link-actor">{{ actor.name }} </a></li>
                    </ul>
                {% else %}
                    <p>Aucun acteur pour cette série</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
